<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css "href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Blog'in</title>
</head>
<header class="col-12 p-3 bg-dark text-white">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation"></button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mg\b-lg-0 text-warning">
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                {{#if loggedIn}}
              <a class="nav-link active text-warning" aria-current="page" href="/dashboard">Dashboard</a>
            {{else}}
              <a class="nav-link active text-warning" aria-current="page" href="/login">Dashboard</a>
              {{/if}}
            </li>
              {{#if loggedIn}}
              <li class="nav-item">
              <a id="logout" class="nav-link active text-warning" aria-current="page" href="#">logout</a>
              </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link active text-warning" aria-current="page" href="/login">Login</a>
             </li>
               {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <br>
      <div class="m-3">
          <h1 class="px-3">Blog Away!</h1>
      </div>
      {{{body}}}
      
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>